html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width:375px) and (max-width:576px){
    .container_Home{
        margin-top: 70px;
        margin-left:95px;
    }
    .Lorem-class{
        text-align: left;
        font-size: smaller;
    }
}

@media screen and (min-width:992px) and (max-width:1200px)
{
    .container_Home{
        margin-top: -20px;
        margin-left:270px;
    }
    .Lorem-class{
        text-align: left;
        font-size: smaller;
    }
}

@media screen and (min-width:768px) and (max-width:992px)
{
    .container_Home{
        margin-top: -20px;
        margin-left:220px;
    }
    .Lorem-class{
        text-align: left;
        font-size: smaller;
    }
}

@media screen and (min-width:1200px) and (max-width:1400px)
{
    .container_Home{
        margin-top: -20px;
        margin-left:330px;
    }
    .Lorem-class{
        text-align: left;
        font-size: smaller;
    }   
}

@media screen and (min-width:1400px) and (max-width:2760px)
{
    .container_Home{
        margin-top: -20px;
        margin-left:330px;
    }
    .Lorem-class{
        text-align: left;
        font-size: smaller;
    }   
}

@media screen and (min-width:576px) and (max-width:768px)
{
    .container_Home{
        margin-top: -20px;
        margin-left:180px;
    }
    .Lorem-class{
        text-align: left;
        font-size: smaller;
    }
}